<div class="container">
  <h1>Formulaire nouveau booking</h1>
    <p>Renter : <%= current_user.first_name %></p>
    <p>Monkey : <%= @monkey.name  %></p>
    <p>Owner : <%= @monkey.user.first_name  %></p>

    <%= simple_form_for [@monkey, @booking] do |f| %>
    <%= f.input :checkin%>
    <%= f.input :checkout%>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
