<div class="image-background-general">

<div class="container">
  <div class="monkey-form">
  <div class="row justify-content-center">
  <div class="col-4 p-3 m-3 bg-light">

  <h2>Book a Monkey</h2>
<br>
<br>
    <p>Renter : <%= current_user.first_name %></p>
    <p>Monkey : <%= @monkey.name  %></p>
    <p>Owner : <%= @monkey.user.first_name  %></p>

    <%= simple_form_for [@monkey, @booking] do |f| %>
    <br>
    <%= f.input :checkin%>
    <br>
    <%= f.input :checkout%>
    <br>
    <br>
    <br>
    <%= f.button :submit, "Book a Monkey!", class: "btn btn-success btn-lg btn-block" %>
    <br>
  <% end %>

  </div>
  </div>
  </div>
  </div>
</div>
