<div class="container">


  <div class='w-100 text-center my-5'>
    <%= cl_image_tag current_user.avatar, class: "avatar-big", alt: "avatar-big" %>
    <h2> Hello <%= current_user.first_name %> ! </h2>
  </div>


    <h2> Your Monkeys </h2>
    <% if @number_of_monkeys != 0 %>
      <ul>
        <% current_user.monkeys.each do |my_monkey| %>
        <li>
            <%= my_monkey.name %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <p>You don't have any monkeys ! </p>
      <p><%= link_to "Start to add one", new_monkey_path, class: 'btn btn-primary' %></p>
    <% end %>



  <h2> Your Bookings </h2>
  <% if @number_of_bookings != 0 %>
    <p>Your next bookings are :</p>
    <ul>
        <% current_user.bookings.each do |my_booking| %>
        <li>
            Renter: <%= my_booking.user.first_name %>
        </li>
        <% end %>
      </ul>
  <% else %>
    <p>You don't have any reservation ! </p>
    <p><%= link_to "Start to rent a monkey !",monkeys_path, class: 'btn btn-primary' %></p>
  <% end %>

</div>
