<div class="container">


  <div class='w-100 text-center my-5'>
    <%= cl_image_tag current_user.avatar, class: "avatar-big", alt: "avatar-big" %>
    <h2> Hello <%= current_user.first_name %> ! </h2>
  </div>


    <h2> Your Monkeys </h2>
    <% if @number_of_monkeys != 0 %>
      <div class="row">
        <div class="card-group">
          <% current_user.monkeys.each do |my_monkey| %>
            <div class="col-3">
              <div class="card">
                <div class="card-top">
                  <img class="card-img-top" src="<%= my_monkey.picture %>" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h5 class="card-text"><%= my_monkey.name %></h5>
                </div>
                <% if my_monkey.bookings.count > 0 %>
                  <div class="card-footer">
                  <small class="text-muted">Next booking : <%= my_monkey.bookings.last.checkin %></small>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>You don't have any monkeys ! </p>
      <p><%= link_to "Start to add one", new_monkey_path, class: 'btn btn-primary' %></p>
    <% end %>



  <h2> Your Bookings </h2>
  <% if @number_of_bookings != 0 %>
    <p>Your next bookings are :</p>
        <% current_user.bookings.each do |my_booking| %>

          <div class="card-booking">
            <img src="<%= my_booking.monkey.picture %>">
            <div class="card-booking-infos">
              <h2><%= my_booking.monkey.name %></h2>
              <p><%= my_booking.monkey.speciality %></p>
              <p>Booking from <%= my_booking.checkin %> to <%= my_booking.checkout %></p>
              <p><%= my_booking.monkey.price %> € /day </p>

            </div>
          </div>


        <% end %>
     </div>
  <% else %>
    <p>You don't have any reservation ! </p>
    <p><%= link_to "Start to rent a monkey !",monkeys_path, class: 'btn btn-primary' %></p>
  <% end %>

</div>
