<div class="container">
  <h1>Liste des monkeys</h1>

  <div class="row">
  <% @monkeys.each do |monkey| %>
    <div class="col-4">
      <div class="card-monkey">
        <%= cl_image_tag monkey.picture %>
        <div class="card-monkey-infos">
          <div>
            <h2><%= monkey.name %></h2>
            <p><%= monkey.speciality %></p>
          </div>
          <h2 class="card-monkey-pricing"><%= monkey.price %> €</h2>
          <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-monkey-user avatar-bordered"/>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>



<%= link_to "Add a monkey !", new_monkey_path, class: "btn btn-primary" %>



