<div class="container">
  <h1>Add a new monkey</h1>


  <%= simple_form_for @monkey do |f| %>
    <%= f.input :name%>
    <%= f.input :speciality%>
    <%= f.input :description%>
    <%= f.input :price%>
    <%= f.input :picture%>
    <%= f.input :picture_cache, as: :hidden %>

    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
