<h1><%= @monkey.name %></h1>

<%= cl_image_tag @monkey.picture, height: 300, width: 400, crop: :fill %>

<p>Speciality : <%= @monkey.speciality %></p>
<p>Description : <%= @monkey.description %></p>
<p>Price : <%= @monkey.price %> € / jour</p>
<p>Owner : <%= @monkey.user.first_name%></p>

<%= link_to "Réservez ce singe !", new_monkey_booking_path(@monkey), class: "btn btn-primary" %>

