<h1><%= @monkey.name %></h1>

<img src=<%= @monkey.picture %> alt='<%= @monkey.name %>'>

<p>Speciality : <%= @monkey.speciality %></p>
<p>Description : <%= @monkey.description %></p>
<p>Price : <%= @monkey.price %> € / jour</p>
<p>Owner : <%= @monkey.user.first_name%></p>

